
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

* {font-family: 'Tomorrow','Courier New', Courier, monospace;}

html{
    scroll-behavior: smooth;
}


:root{
    --c-dark: #0c0f0a;
    --c-dark-soft: #232b2b;
    --c-text-light: #ffff;
    --c-highlight-1-dark: #fbff12;
    --c-highlight-2-dark: #41ead4;
}

:root{
    --background-c: var(--c-dark);
    --text-c: var(--c-text-light);
}


body{
    background-color: var(--background-c);
    color: var(--text-c);
    font-size: 0.875em;
    margin:0;
}


header{
    
    /*background-color: var(--c-dark);*/
    height: 48px;
    position: fixed;
    inset: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    flex:1;
}

.nav-bar-left{
    display: flex;
    flex: 1;
    font-size: 1.2em;
}

.nav-bar-center{
    background-color: 	#3b444b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    padding: 5px 10px;
    border-radius:30px;
    
}

.nav-bar-right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.nav-bar-center-contents{
    align-items: center;
    display: flex;
    grid-column-gap: 20px;
}

header a:hover{
    color: var(--c-highlight-1-dark);
    transition: 0.3s;
}

header a{
    
    height: 100%;
    text-decoration: none;
    color: var(--c-text-light);
    font-weight: bold;
    align-content: center;
    display: inline-block;
}


div#intro{
    scroll-margin-top: 50px;
    top: 0;
    left: 0;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 100%;
}
div#intro p{
    width: 60vw;
    max-width: 1000px;
    text-align: justify;
    font-size: 1.5em;
}

div#projects{
    scroll-margin-top: 50px;
}
div#projects h1{
    font-size: 3em;
}

div#main{
    
    margin: 2% 10% 3% 10%;
    color: var(--c-text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_item{
    
    margin-bottom: 30px;
    width: 50vw;
    max-width: 800px;
    max-height: 800px;
    background-color: var(--c-dark-soft);
    border-radius: 1%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    
}

.main_item_title{
   
    height: 100px;
    align-items: center;
    
}
.main_item_content{
    overflow: hidden;
    height: 200px;
}
.main_item p,h2,h3{
    padding: 0 2%;
    text-align: justify;
    overflow: hidden;
}

.item_button{
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    gap: 2%;
}


.item_button a{
    background-color: var(--c-highlight-2-dark);
    color: black;
    padding: 1.5%;
    border: none;
    display:flex;
    justify-content: center;
    text-decoration: none;
    width: 20%;
    font-weight: bold;
    font-size: 1em;
    border-radius: 30px;
}

.item_button a:hover{
   
    background-color: var(--c-highlight-1-dark);
    transition: 0.3s;
}

@media (max-width:720px){
    header{
        flex-direction: column;
        height: 8vw;
    }
    .main_item{
        max-height: none;
    }
    div.item_button{
        justify-content: center;
        
        margin-left:2%;
    }
    a.item_button{
        width: 60%;
    }
}