p {font-family: 'Courier New', Courier, monospace;}

body{
    background-color: black;
}

div#header {
    border-bottom-style: solid;
    border-width: medium;
    border-color:#fb1543;
    width: 100%;
    height: 3em;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div#main{
    
    margin: 5% 10% 5% 10%;
    color: #32d8f2;
    
}

.main_item{
    border-style: solid;
    border-width:thin;
    padding: 2%;
}

div#footer{
    border-top-style: solid;
    border-width: medium;
    border-color:#fb1543;
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: black;  
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.navigation_item{
    text-align: center;
    height: 100%;
    
}


.navigation_item a:hover{
    color: #32d55e;
}

.navigation_item a{
    
    height: 100%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    align-content: center;
    color: #fb1543;
    display: inline-block;
}

.navigation_item.current a{
    height: 100%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    align-content: center;
    display: inline-block;
    color: #32d55e;
}
